body {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 5px;
    padding: 5px;
}

a:link {
    color: #0000f0;
}

a:visited {
    color: #0000f0;
}

a {
    text-decoration: none;
}

span.title {
    font-size: large;
    font-weight: bold;
}

span.tab {
    font-weight: bold;
}

.largeimage {
    height: 400px;
    margin: 3px;
    border-radius: 4px;
}

.smallimage {
    height: 120px;
    margin: 3px;
    border-radius: 4px;
}

#imagelist {
    /*
    display:flex;
    flex-wrap:wrap;
    flex:1;
    */
}

/*
#mapcanvas {
    width:400px;
    height:400px;
    margin:4px;
    border-radius:4px;
}
*/
/*
#mapcanvas {
    width:400px;
    margin:4px;
    border-radius:4px;
}
*/

#container {
    display: flex;
}
/*
#mapcanvas {
    width:400px;
      max-width:400px;
      min-width:400px;
      height:400px;
      margin:4px;
      border-radius:4px;
      display:block;
      flex-grow: 1;
}
*/

#imagelist {
    
}

/*
.moveimage {
    height: 18px;
    margin: -2px 2px 0px 2px;
}
*/

@media screen and (min-width: 1000px) {
    #mapcanvas {
	width:400px;
	max-width:400px;
	min-width:400px;
	height:400px;
	margin:4px;
	border-radius:4px;
	display:block;
	flex-grow: 1;
    }
    .moveimage {
        height: 18px;
	margin: -2px 2px 0px 2px;
    }
}

@media screen and (max-width: 1000px) {
   #container {
     flex-direction: column;
   }
   #mapcanvas {
     width: 100%;
     height: 600px;
   }
   .smallimage {
     height: 180px;
      margin: 3px;
      border-radius: 4px;
   }
   .list {
     height: 60px;
   }
   .moveimage {
       height: 18px;
     /* height: 50px; */
     /* margin: 5px 2px 0px 2px; */
       /* margin: 1px 6px -4px 0px; */
       margin: 3px 8px -5px 1px;
   }
 }


/* パソコンで見たときは"pc"のclassがついた画像が表示される */
/*
.pc {
    display: flex !important;
}
.sp {
    display: none !important; 
    visibility: none !important;
}
*/
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
/* @media only screen and (max-width: 750px) { */
/*
@media only screen and (max-width: 3000px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}
*/
