<!DOCTYPE html>
<html>
  <head>
    <!-- Viewportを設定すべきか -->
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico" />
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBWKRUvZyPd4hVwby3YVN9g2177B9peTEA&sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
      var project = "<%= project %>"
      var type = "<%= type %>"
    </script>
    <script src="/gyamap.js"></script>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    
    <span class='title'>「<a href="<%= pageurl %>" target="_blank"><%= title %></a>」関連の地図を表示</span>
    <span>　</span>
    <span class='tab'><a href="https://scrapbox.io/Gyamap/概要" target='_blank'>Gyamapとは</a></span>
    <span>　</span>
    <span class='tab'><a href="https://scrapbox.io/Gyamap/Issues" target='_blank'>Issues</a></span>

    <p></p>

    <div style="display:flex;">
      <div id="map_canvas" style="width:400px;height:400px;padding:4px;margin:0px"></div>
      <div id="imagelist" style="display:flex;flex-wrap:wrap;"></div>
    </div>

    <ul id="list"></ul>

  </body>
</html>
